# Update Portfolio

Run this scrpit to update your cryptocurrencies amount.

In [46]:
from IPython.display import HTML

In [56]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<i><font size="2">The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.<i><font>''')

In [48]:
""" 
Update Portfolio
Created on Wed Jan  3 17:13:29 2018
@author: marcel torretta
"""
import os
import time
from datetime import datetime, date, timedelta
import pandas as pd
import matplotlib.pyplot as plt
os.chdir("C:/Users/marce/Documents/6_DS_Projects/projects/1_Criptocurrencies_webscraping")

In [49]:
#%% My Deposits
try:
    deposits_df = pd.read_csv("./my_deposits.csv", index_col = 0)
except:
    deposits_df = pd.DataFrame(columns = ['Date', 'Amount_BRL'])    
deposits_df['Date'] = pd.to_datetime(deposits_df['Date'], format = '%Y-%m-%d')

# My Cryptocurrency Amount
my_crypto_df = pd.read_csv("./my_crypto.csv", index_col = 0)
my_crypto_df['My_Amount'] = pd.to_numeric(my_crypto_df['My_Amount'])

In [50]:
ip = input('Do you want to register a new deposit? Y or N \nEnter negative value for withdraws\n\n')
if (ip[0] == 'Y' or ip[0] == 'y'):
    new_deposit_date = input('Please enter date of new deposit: dd-mm-yyyy: \n')
    new_deposit_amount = input('Please enter amount of new deposit: 0000.00 \n')
    new_deposit = pd.DataFrame.from_items([('Date',[new_deposit_date]), ('Amount_BRL',[new_deposit_amount])])
    try:
        new_deposit['Date'] = pd.to_datetime(new_deposit['Date'], format = '%d-%m-%Y')    
    except:
        print('Invalid Date - Please rerun')
        raise TypeError('Invalid Date - Please rerun')
    try:
        new_deposit['Amount_BRL'] = pd.to_numeric(new_deposit['Amount_BRL'])
    except:
        print('Invalid Amount - Needs to be numeric, with \'.\' as separator. Please rerun')
        raise TypeError('Invalid Amount - Please rerun')
        
    deposits_df = pd.concat([deposits_df, new_deposit], ignore_index = True, axis = 0)  
    deposits_df.to_csv("my_deposits.csv", float_format='%.2f')    
else:
    pass

Do you want to register a new deposit? Y or N
Enter negative value for withdraws

N

In [51]:
'''
Cryptocurrency ID needs to be the same as given by 'https://coinmarketcap.com/'
'''
ip2 = input('Do you want to update your cryptocurrencies amount? Y or N \n')
if (ip2[0] == 'Y' or ip2[0] == 'y'):
    w = 'Y'
    while(w == 'Y' or w =='y'):
        ip3 = input('Press 1 to add new currency\nPress 2 to rearrange current currencies\n')
        if(ip3 == '1'):
            ip_n = input('Enter the ID (Symbol) of the cryptocurrency: \n')
            ip_a = input('Enter the amount of the cryptocurrency: \n')
            # tests if ID exists
            if(ip_n in my_crypto_df['ID'].values): 
                raise TypeError('ID already exists - Please rerun')
            #creates new crypto df
            new_crypto = pd.DataFrame.from_items([('ID',[ip_n]), ('My_Amount',[ip_a])])
            try:
                #tests if amount is numeric and concatenates with previous df
                new_crypto['My_Amount'] = pd.to_numeric(new_crypto['My_Amount'])
                my_crypto_df = pd.concat([my_crypto_df, new_crypto], ignore_index = True, axis = 0)  
            except:
                print('Invalid Amount - Needs to be numeric, with \'.\' as separator. Please rerun')
                raise TypeError('Invalid Date - Please rerun')                
        if(ip3 == '2'):
            try:
                # Tries to update info on df. If it fails, input must be invalid
                ip_n = input('Enter the ID (Symbol) of the cryptocurrency: \n')
                ip_a = input('Enter the updated amount of the cryptocurrency: \n')
                my_crypto_df.loc[my_crypto_df['ID'] == ip_n, 'My_Amount'] = float(ip_a)
                if not ip_n in my_crypto_df['ID'].values:
                    print('ID not found on list of currenc cryptocurrencies - No change will be made')
            except: 
                print('Invalid ID or Amount - Please rerun')
                raise TypeError('Invalid ID or Amount - Please rerun')

        w = input("Do you want to make another change? Y or N \n")
    my_crypto_df.to_csv("my_crypto.csv", float_format='%.8f') 
else:
    pass

Do you want to update your cryptocurrencies amount? Y or N
N

In [52]:
my_crypto_df.loc[my_crypto_df['ID'] == 'XX', 'My_Amount'] = 0.123

## My Deposits

In [53]:
deposits_df

        Date  Amount_BRL
0 2017-10-18     1200.77
1 2017-10-19     2199.98
2 2017-10-20     2000.00
3 2017-10-29      500.02
4 2017-10-30      500.00
5 2017-10-31     2650.07
6 2000-01-01     1000.00
7 2017-02-02     2000.00

## My Cryptocurrencies

In [54]:
my_crypto_df

      ID  My_Amount
0    BTC    0.13000
1    ETH    0.14985
2  WAVES   19.99996
3    EOS   29.97000
4  MIOTA   54.94500
5    ADA  125.40000
6    XRP  500.00000

In [55]:
my_crypto_df.to_csv("my_crypto.csv", float_format='%.8f')